
@using PagedList;
@using PagedList.Mvc;
@using App.Schedule.Domains.ViewModel;
@model ResponseViewModel<IPagedList<BusinessOfferViewModel>>

@{
    ViewBag.Title = "Business Offer Setup";
    Layout = "~/Views/Shared/_AfterLoginMaster.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Business Offer Setup</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        @Html.Partial("~/Views/SubViews/_ErrorView.cshtml", Model)
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Business Offer List</b>
                <a href="@Url.Action("add", "businessoffer", new { area = "admin", id = ViewBag.EmployeeId })" class="btn btn-info btn-xs pull-right">
                    <span class="fa fa-plus"></span> Add
                </a>
            </div>
            <div class="panel-body">
                @if (Model == null & Model.Data == null)
                {
                    <text>Please try again later.</text>
                    return;
                }
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="form-group input-group input-group-sm">
                                    <input type="text" class="form-control" id="searchKeyword" value="@ViewBag.search" placeholder="Search here" />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index")?search=' + $('#searchKeyword').val()">
                                            <i class="fa fa-search"></i>
                                            Search
                                        </button>
                                    </div>
                                </div>
                                <table class="table table-condensed table-striped table-hover sortable" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <th title="offer code">
                                                Code
                                            </th>
                                            <th title="valid from">
                                                From
                                            </th>
                                            <th title="valid to">
                                                To
                                            </th>
                                            <th title="valid to">
                                                Status
                                            </th>
                                            <th class="text-right">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Data.Count <= 0)
                                        {
                                            <tr>
                                                <td colspan="7">
                                                    No business offer has been created yet.
                                                </td>
                                            </tr>
                                            return;
                                        }
                                        @foreach (var item in Model.Data)
                                        {
                                            if (item != null)
                                            {
                                                <tr>

                                                    <td style="vertical-align:top;">
                                                        <b>@item.Name</b>
                                                        <p>
                                                            @item.Description
                                                        </p>
                                                    </td>
                                                    <td>
                                                        @item.Code
                                                    </td>
                                                    <td>
                                                        @item.ValidFrom.ToString("dd MMM yyyy")
                                                    </td>
                                                    <td>
                                                        @item.ValidTo.ToString("dd MMM yyyy")
                                                    </td>
                                                    <td>
                                                        @item.IsActive
                                                    </td>
                                                    <td class="text-right">
                                                        <a title="View" onclick="@("window.location.href='" + @Url.Action("location", "businessoffer", new { area = "admin", id = item.Id }) + "'");" class="btn btn-default btn-xs">
                                                            <span class="fa fa-folder"></span>
                                                        </a>
                                                        <a title="Edit" onclick="@("window.location.href='" + @Url.Action("edit", "businessoffer", new { area = "admin", id = item.Id }) + "'");" class="btn btn-default btn-xs">
                                                            <span class="fa fa-pencil"></span>
                                                        </a>
                                                        <a title="Edit" onclick="@("window.location.href='" + @Url.Action("delete", "businessoffer", new { area = "admin", id = item.Id }) + "'");" class="btn btn-default btn-xs">
                                                            <span class="fa fa-trash"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div>
                    <span class="text-left">
                        <a href="@Url.Action("index", "accountsetup", new { area = "admin" })" class="btn btn-default btn-sm">
                            Account Setup
                        </a>
                    </span>
                    <span class="pull-right">
                        @Html.PagedListPager(Model.Data, page => Url.Action("Index", new { page }))
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

