@using App.Schedule.Domains.ViewModel;
@model ResponseViewModel<List<BusinessHolidayViewModel>>

@{
    ViewBag.Title = "Business Holiday Setup";
    Layout = "~/Views/Shared/_AfterLoginMaster.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Business Holiday Setup</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        @Html.Partial("~/Views/SubViews/_ErrorView.cshtml", Model)
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Holiday List</b>
                <a href="@Url.Action("add", "holiday", new { area = "admin" })" class="btn btn-info btn-xs pull-right">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </a>
            </div>
            <div class="panel-body">
                @if (Model == null & Model.Data == null)
                {
                    <text>Please try again later.</text>
                    return;
                }
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="col-lg-12">
                            <div class="row">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                Title
                                            </th>
                                            <th class="text-right">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Data)
                                        {
                                            if (item == null)
                                            {
                                                return;
                                            }
                                            <tr>
                                                <td class="text-left">
                                                    @{
                                                        if (item.Type == (int)HolidayType.Specified)
                                                        {
                                                            <text>On </text> @item.OnDate.ToString("MMMM dd, yyyy (dddd)");
                                                        }
                                                        else if (item.Type == (int)HolidayType.RpeatEveryWeek)
                                                        {
                                                            <text>Every </text> @item.OnDate.ToString("dd"); <text> day of the month since </text>  @item.OnDate.ToString("MMMM yyyy");
                                                        }
                                                        else if (item.Type == (int)HolidayType.RepeatEveryMonth)
                                                        {
                                                            <text>Every </text> @item.OnDate.ToString("dddd"); <text> since </text>  @item.OnDate.ToString("MMMM dd, yyyy");

                                                        }
                                                        else if (item.Type == (int)HolidayType.RepeatEveryYear)
                                                        {
                                                            <text>On </text> @item.OnDate.ToString("MMMM dd"); <text> every year since </text>  @item.OnDate.ToString("yyyy");
                                                        }
                                                    }
                                                </td>
                                                <td class="text-right">
                                                    <a title="Update" onclick="@("window.location.href='" + @Url.Action("edit", "holiday", new { area = "admin", id = item.Id }) + "'");" class="btn btn-default btn-xs">
                                                        <span class="fa fa-pencil"></span>
                                                    </a>
                                                    <a title="Update" onclick="@("window.location.href='" + @Url.Action("delete", "holiday", new { area = "admin", id = item.Id }) + "'");" class="btn btn-default btn-xs">
                                                        <span class="fa fa-trash"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                          }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-left">
                    <a href="@Url.Action("index", "accountsetup", new { area = "admin" })" class="btn btn-default btn-sm">
                        Account Setup
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
