@using App.Schedule.Domains.ViewModel;
@model ResponseViewModel<BusinessCustomerViewMdoel>

@{
    ViewBag.Title = "New Business Customer";
    Layout = "~/Views/Shared/_AfterLoginMaster.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Business Customer Setup</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        @Html.Partial("~/Views/SubViews/_ErrorView.cshtml", Model)
    </div>
</div>
<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Add Customer</b>
            </div>
            @using (Ajax.BeginForm("add", "customer", new AjaxOptions { }))
            {
                <div class="panel-body">
                    @if (Model == null & Model.Data == null)
                    {
                        <text>Please try again later.</text>
                        return;
                    }
                    <div class="tab-content" style="padding:0px 10px;">
                        <div class="row">
                            @Html.AntiForgeryToken()
                            <div class="form-group col-lg-6">
                                <label>First Name</label>
                                @Html.EditorFor(d => d.Data.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Last Name</label>
                                @Html.EditorFor(d => d.Data.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Email</label>
                                @Html.EditorFor(d => d.Data.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email Id" } })
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Phone No.</label>
                                @Html.EditorFor(d => d.Data.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone Number" } })
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Password</label>
                                @Html.EditorFor(d => d.Data.Password, new { htmlAttributes = new { @class = "form-control", type = "password", @placeholder = "Password" } })
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Confirm Password</label>
                                @Html.EditorFor(d => d.Data.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", type = "password", @placeholder = "Confirm Password" } })
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Address Line 1</label>
                                @Html.EditorFor(d => d.Data.Add1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address Line 1" } })
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Address Line 2</label>
                                @Html.EditorFor(d => d.Data.Add2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address Line 2" } })
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Pincode</label>
                                @Html.EditorFor(d => d.Data.Zip, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pincode" } })
                            </div>
                            <div class="form-group col-lg-6">
                                <label>City</label>
                                @Html.EditorFor(d => d.Data.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "City" } })
                            </div>
                            <div class="form-group col-lg-6">
                                <label>State</label>
                                @Html.EditorFor(d => d.Data.State, new { htmlAttributes = new { @class = "form-control", @placeholder = "State" } })
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Service Location</label>
                                @Html.DropDownListFor(d => d.Data.ServiceLocationId, new SelectList(ViewBag.ServiceLocationId ?? null, "Value", "Text"), "-- Select Location --", new { @class = "form-control" })
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Is Active</label>
                                <div class="form-control">
                                    @Html.CheckBoxFor(d => d.Data.IsActive)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-12">
                            <input id="btnSave" class="btn btn-info btn-sm " type="button" value="Save" onclick="onSubmit(this,'@Url.Action("index", "customer", new { area = "admin" })')" />
                            <input type="button" class="btn btn-default btn-sm" value="Back" onclick="@("window.location.href='" + @Url.Action("index", "customer", new { area = "admin" }) + "'");" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>